In [236]:
import pandas as pd
import pylab as pl
import numpy as np
import scipy.optimize as opt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
%matplotlib inline 
import matplotlib.pyplot as plt

In [237]:

cell_df = pd.read_csv('loan_train.csv',
                      )

print('Data downloaded and read into a dataframe!')




cell_df.head()

Data downloaded and read into a dataframe!

,Unnamed: 0,Unnamed: 0.1,loan_status,Principal,terms,effective_date,due_date,age,education,Gender
0,0,0,PAIDOFF,1000,30,9/8/2016,10/7/2016,45,High School or Below,male
1,2,2,PAIDOFF,1000,30,9/8/2016,10/7/2016,33,Bechalor,female
2,3,3,PAIDOFF,1000,15,9/8/2016,9/22/2016,27,college,male
3,4,4,PAIDOFF,1000,30,9/9/2016,10/8/2016,28,college,female
4,6,6,PAIDOFF,1000,30,9/9/2016,10/8/2016,29,college,male

In [238]:
X = cell_df [['loan_status', 'education', 'Gender']].values

In [239]:
from sklearn import preprocessing
 
le_BP = preprocessing.LabelEncoder()
le_BP.fit([ 'PAIDOFF', 'COLLECTION'])
X[:,0] = le_BP.transform(X[:,0])  

le_BP = preprocessing.LabelEncoder()
le_BP.fit([ 'High School or Below', 'college' ,'Bechalor', 'Master or Above'])
X[:,1] = le_BP.transform(X[:,1])

le_BP = preprocessing.LabelEncoder()
le_BP.fit([ 'male', 'female' ])
X[:,2] = le_BP.transform(X[:,2])


 
cell_df.dtypes




X[0:10]

array([[1, 1, 1],
       [1, 0, 0],
       [1, 3, 1],
       [1, 3, 0],
       [1, 3, 1],
       [1, 3, 1],
       [1, 3, 1],
       [1, 3, 1],
       [1, 3, 1],
       [1, 1, 1]], dtype=object)

In [240]:
cell_df.head()

,Unnamed: 0,Unnamed: 0.1,loan_status,Principal,terms,effective_date,due_date,age,education,Gender
0,0,0,PAIDOFF,1000,30,9/8/2016,10/7/2016,45,High School or Below,male
1,2,2,PAIDOFF,1000,30,9/8/2016,10/7/2016,33,Bechalor,female
2,3,3,PAIDOFF,1000,15,9/8/2016,9/22/2016,27,college,male
3,4,4,PAIDOFF,1000,30,9/9/2016,10/8/2016,28,college,female
4,6,6,PAIDOFF,1000,30,9/9/2016,10/8/2016,29,college,male

In [241]:
# creating a dict file  
status = {'PAIDOFF': 1,'COLLECTION': 0} 
  
    
# condition matches. 
cell_df.loan_status[cell_df.loan_status == 'PAIDOFF'] = 1
cell_df.loan_status[cell_df.loan_status == 'COLLECTION'] = 0

# condition matches. 
cell_df.Gender[cell_df.Gender == 'male'] = 0
cell_df.Gender[cell_df.Gender == 'female'] = 1

# condition matches. 
cell_df.education[cell_df.education == 'High School or Below'] = 0
cell_df.education[cell_df.education == 'college'] = 1
cell_df.education[cell_df.education == 'Bechalor'] = 2


# condition matches. 
cell_df.terms[cell_df.terms == 7] = 0
cell_df.terms[cell_df.terms == 15] = 1
cell_df.terms[cell_df.terms == 30] = 2



cell_df = cell_df[pd.to_numeric(cell_df['loan_status'], errors='coerce').notnull()]
cell_df['loan_status'] = cell_df['loan_status'].astype('int')
cell_df.dtypes

cell_df = cell_df[pd.to_numeric(cell_df['Gender'], errors='coerce').notnull()]
cell_df['Gender'] = cell_df['Gender'].astype('int')
cell_df.dtypes

cell_df = cell_df[pd.to_numeric(cell_df['education'], errors='coerce').notnull()]
cell_df['education'] = cell_df['education'].astype('int')
cell_df.dtypes


#cell_df.dtypes
print(cell_df) 



#cell_df['loan_status'] = cell_df['loan_status'].astype('int')
#y = np.asarray(cell_df['loan_status'])
#y [0:5]

/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

     Unnamed: 0  Unnamed: 0.1  loan_status  Principal  terms effective_date  \
0             0             0            1       1000      2       9/8/2016
1             2             2            1       1000      2       9/8/2016
2             3             3            1       1000      1       9/8/2016
3             4             4            1       1000      2       9/9/2016
4             6             6            1       1000      2       9/9/2016
5             7             7            1       1000      2       9/9/2016
6             8             8            1       1000      2       9/9/2016
7             9             9            1        800      1      9/10/2016
8            10            10            1        300      0      9/10/2016
9            11            11            1       1000      1      9/10/2016
10           12            12            1       1000      2      9/10/2016
11           13            13            1        900      0      9/10/2016
12           14            14            1       1000      0      9/10/2016
13           15            15            1        800      1      9/10/2016
14           16            16            1       1000      2      9/10/2016
15           17            17            1       1000      1      9/10/2016
16           18            18            1       1000      2      9/10/2016
17           19            19            1        800      2      9/10/2016
18           20            20            1       1000      2      9/10/2016
19           22            22            1       1000      2      9/10/2016
20           23            23            1       1000      1      9/10/2016
21           25            25            1       1000      2      9/10/2016
22           26            26            1        800      1      9/10/2016
23           27            27            1       1000      1      9/10/2016
24           28            28            1       1000      2      9/11/2016
25           29            29            1       1000      2      9/11/2016
26           30            30            1        800      1      9/11/2016
27           31            31            1       1000      2      9/11/2016
28           32            32            1       1000      2      9/11/2016
29           33            33            1       1000      2      9/11/2016
..          ...           ...          ...        ...    ...            ...
316         367           367            0        800      1      9/11/2016
317         368           368            0       1000      2      9/11/2016
318         371           371            0       1000      2      9/11/2016
319         372           372            0        800      1      9/11/2016
320         373           373            0       1000      1      9/11/2016
321         374           374            0       1000      2      9/11/2016
322         375           375            0        800      1      9/11/2016
323         376           376            0       1000      1      9/11/2016
324         377           377            0       1000      2      9/11/2016
325         378           378            0       1000      2      9/11/2016
326         379           379            0       1000      2      9/11/2016
327         380           380            0       1000      2      9/11/2016
328         381           381            0        800      1      9/11/2016
329         382           382            0       1000      1      9/11/2016
330         383           383            0       1000      2      9/11/2016
331         384           384            0       1000      2      9/11/2016
332         385           385            0       1000      2      9/11/2016
333         386           386            0        800      1      9/11/2016
334         387           387            0       1000      2      9/11/2016
335         388           388            0       1000      1      9/11/2016
336         389           389            0       1000      1      9/11/2016
337         390           390            0       1000      1      9/11/2016
338         391           391            0        800      1      9/11/2016
339         392           392            0       1000      2      9/11/2016
340         393           393            0       1000      2      9/11/2016
341         394           394            0        800      1      9/11/2016
342         395           395            0       1000      2      9/11/2016
343         397           397            0        800      1      9/12/2016
344         398           398            0       1000      2      9/12/2016
345         399           399            0       1000      2      9/12/2016

       due_date  age  education  Gender
0     10/7/2016   45          0       0
1     10/7/2016   33          2       1
2     9/22/2016   27          1       0
3     10/8/2016   28          1       1
4     10/8/2016   29          1       0
5     10/8/2016   36          1       0
6     10/8/2016   28          1       0
7     9/24/2016   26          1       0
8     9/16/2016   29          1       0
9     10/9/2016   39          0       0
10    10/9/2016   26          1       0
11    9/16/2016   26          1       1
12    9/16/2016   27          0       0
13    9/24/2016   26          1       0
14    10/9/2016   40          0       0
15    9/24/2016   32          0       0
16    10/9/2016   32          0       0
17    10/9/2016   26          1       0
18    10/9/2016   26          1       0
19    10/9/2016   25          0       0
20    9/24/2016   26          1       0
21    10/9/2016   29          0       0
22    9/24/2016   39          2       0
23    9/24/2016   34          2       0
24   10/10/2016   31          1       0
25   10/10/2016   33          1       0
26    9/25/2016   33          0       0
27   10/10/2016   37          1       0
28   10/10/2016   27          1       0
29   10/10/2016   37          1       0
..          ...  ...        ...     ...
316   9/25/2016   28          2       0
317  10/10/2016   24          1       0
318  10/10/2016   18          1       0
319   9/25/2016   25          0       0
320   9/25/2016   40          0       0
321  10/10/2016   29          1       0
322   9/25/2016   26          0       1
323   9/25/2016   30          1       0
324  10/10/2016   33          1       0
325  10/10/2016   30          1       0
326  10/10/2016   32          1       0
327  10/10/2016   25          0       0
328   9/25/2016   35          0       0
329   9/25/2016   30          2       0
330  10/10/2016   26          0       0
331  10/10/2016   29          0       0
332   11/9/2016   26          0       0
333   9/25/2016   46          0       0
334  10/10/2016   36          0       0
335   9/25/2016   38          2       0
336  10/25/2016   32          0       0
337   9/25/2016   30          1       0
338   9/25/2016   35          0       0
339  10/10/2016   29          1       1
340   11/9/2016   26          1       0
341   9/25/2016   32          0       0
342  10/10/2016   25          0       0
343   9/26/2016   39          1       0
344  11/10/2016   28          1       0
345  10/11/2016   26          1       0

[344 rows x 10 columns]

/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [242]:
cell_df.columns
cell_df= cell_df.drop('effective_date', 1)
cell_df = test.drop('due_date',1)

In [243]:
X = cell_df[['Principal', 'terms','age', 'education', 'Gender']].values.astype(float)
X[0:5]

array([[1000.,    2.,   45.,    0.,    0.],
       [1000.,    2.,   33.,    2.,    1.],
       [1000.,    1.,   27.,    1.,    0.],
       [1000.,    2.,   28.,    1.,    1.],
       [1000.,    2.,   29.,    1.,    0.]])

In [244]:
#X = cell_df[cell_df['loan_status'] == 0][0:20].plot(kind='scatter', x='education', y='age', color='DarkBlue', label='malignant');
#cell_df[cell_df['loan_status'] == 1][0:20].plot(kind='scatter', x='education', y='age', color='DarkGreen', label='benign');
#plt.show()

In [245]:
X = preprocessing.StandardScaler().fit(X).transform(X.astype(float))
X[0:1000]

array([[ 0.51345952,  0.87869823,  2.37885075, -1.0048238 , -0.42199786],
       [ 0.51345952,  0.87869823,  0.35995768,  1.91213305,  2.36968028],
       [ 0.51345952, -0.85849827, -0.64948885,  0.45365463, -0.42199786],
       ...,
       [-1.31690394, -0.85849827,  1.36940421,  0.45365463, -0.42199786],
       [ 0.51345952,  0.87869823, -0.48124777,  0.45365463, -0.42199786],
       [ 0.51345952,  0.87869823, -0.81772994,  0.45365463, -0.42199786]])

In [246]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (275, 5) (275,)
Test set: (69, 5) (69,)

In [247]:
from sklearn.neighbors import KNeighborsClassifier

In [248]:
k = 4
#Train Model and Predict  
neigh = KNeighborsClassifier(n_neighbors = k).fit(X_train,y_train)
neigh

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=4, p=2,
           weights='uniform')

In [249]:
yhat = neigh.predict(X_test)
yhat[0:5]

array([1, 1, 1, 1, 0])

In [250]:
from sklearn import metrics
print("Train set Accuracy: ", metrics.accuracy_score(y_train, neigh.predict(X_train)))
print("Test set Accuracy: ", metrics.accuracy_score(y_test, yhat))

Train set Accuracy:  0.7490909090909091
Test set Accuracy:  0.6376811594202898