import pandas as pd
import pylab as pl
import numpy as np
import scipy.optimize as opt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
%matplotlib inline 
import matplotlib.pyplot as plt
 
import sys

if not sys.warnoptions:
    import warnings
    warnings.simplefilter("ignore")

In [573]:
import pandas as pd
cell_df = pd.read_csv('loan_train.csv',
                      )

print('Data downloaded and read into a dataframe!')




cell_df.head()

Data downloaded and read into a dataframe!

,Unnamed: 0,Unnamed: 0.1,loan_status,Principal,terms,effective_date,due_date,age,education,Gender
0,0,0,PAIDOFF,1000,30,9/8/2016,10/7/2016,45,High School or Below,male
1,2,2,PAIDOFF,1000,30,9/8/2016,10/7/2016,33,Bechalor,female
2,3,3,PAIDOFF,1000,15,9/8/2016,9/22/2016,27,college,male
3,4,4,PAIDOFF,1000,30,9/9/2016,10/8/2016,28,college,female
4,6,6,PAIDOFF,1000,30,9/9/2016,10/8/2016,29,college,male

In [574]:
X = cell_df [['loan_status', 'education', 'Gender']].values

from sklearn import preprocessing
 
le_BP = preprocessing.LabelEncoder()
le_BP.fit([ 'PAIDOFF', 'COLLECTION'])
X[:,0] = le_BP.transform(X[:,0])  

le_BP = preprocessing.LabelEncoder()
le_BP.fit([ 'High School or Below', 'college' ,'Bechalor', 'Master or Above'])
X[:,1] = le_BP.transform(X[:,1])

le_BP = preprocessing.LabelEncoder()
le_BP.fit([ 'male', 'female' ])
X[:,2] = le_BP.transform(X[:,2])


 
cell_df.dtypes




X[0:10]

In [575]:
cell_df.head()

,Unnamed: 0,Unnamed: 0.1,loan_status,Principal,terms,effective_date,due_date,age,education,Gender
0,0,0,PAIDOFF,1000,30,9/8/2016,10/7/2016,45,High School or Below,male
1,2,2,PAIDOFF,1000,30,9/8/2016,10/7/2016,33,Bechalor,female
2,3,3,PAIDOFF,1000,15,9/8/2016,9/22/2016,27,college,male
3,4,4,PAIDOFF,1000,30,9/9/2016,10/8/2016,28,college,female
4,6,6,PAIDOFF,1000,30,9/9/2016,10/8/2016,29,college,male

In [576]:
# creating a dict file  
status = {'PAIDOFF': 1,'COLLECTION': 0} 
  
    
# condition matches. 
cell_df.loan_status[cell_df.loan_status == 'PAIDOFF'] = 1
cell_df.loan_status[cell_df.loan_status == 'COLLECTION'] = 0

# condition matches. 
cell_df.Gender[cell_df.Gender == 'male'] = 0
cell_df.Gender[cell_df.Gender == 'female'] = 1

# condition matches. 
cell_df.education[cell_df.education == 'High School or Below'] = 0
cell_df.education[cell_df.education == 'college'] = 1
cell_df.education[cell_df.education == 'Bechalor'] = 2


# condition matches. 
cell_df.terms[cell_df.terms == 7] = 0
cell_df.terms[cell_df.terms == 15] = 1
cell_df.terms[cell_df.terms == 30] = 2



cell_df = cell_df[pd.to_numeric(cell_df['loan_status'], errors='coerce').notnull()]
cell_df['loan_status'] = cell_df['loan_status'].astype('int')
cell_df.dtypes

cell_df = cell_df[pd.to_numeric(cell_df['Gender'], errors='coerce').notnull()]
cell_df['Gender'] = cell_df['Gender'].astype('int')
cell_df.dtypes

cell_df = cell_df[pd.to_numeric(cell_df['education'], errors='coerce').notnull()]
cell_df['education'] = cell_df['education'].astype('int')
cell_df.dtypes


#cell_df.dtypes
#print(cell_df) 



cell_df['loan_status'] = cell_df['loan_status'].astype('int')
y = cell_df['loan_status'].values
y [0:5]

/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

array([1, 1, 1, 1, 1])

In [577]:
cell_df.columns
cell_df= cell_df.drop('effective_date', 1)
cell_df = cell_df.drop('due_date',1)

In [578]:
X = cell_df[['Principal', 'terms','age', 'education', 'Gender']].values.astype(float)
X[0:5]

array([[1000.,    2.,   45.,    0.,    0.],
       [1000.,    2.,   33.,    2.,    1.],
       [1000.,    1.,   27.,    1.,    0.],
       [1000.,    2.,   28.,    1.,    1.],
       [1000.,    2.,   29.,    1.,    0.]])

In [579]:
#X = cell_df[cell_df['loan_status'] == 0][0:20].plot(kind='scatter', x='education', y='age', color='DarkBlue', label='malignant');
#cell_df[cell_df['loan_status'] == 1][0:20].plot(kind='scatter', x='education', y='age', color='DarkGreen', label='benign');
#plt.show()

In [580]:
X = preprocessing.StandardScaler().fit(X).transform(X.astype(float))
X[0:1000]

array([[ 0.51345952,  0.87869823,  2.37885075, -1.0048238 , -0.42199786],
       [ 0.51345952,  0.87869823,  0.35995768,  1.91213305,  2.36968028],
       [ 0.51345952, -0.85849827, -0.64948885,  0.45365463, -0.42199786],
       ...,
       [-1.31690394, -0.85849827,  1.36940421,  0.45365463, -0.42199786],
       [ 0.51345952,  0.87869823, -0.48124777,  0.45365463, -0.42199786],
       [ 0.51345952,  0.87869823, -0.81772994,  0.45365463, -0.42199786]])

In [581]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (275, 5) (275,)
Test set: (69, 5) (69,)

In [582]:
from sklearn.neighbors import KNeighborsClassifier

In [583]:
k = 4
#Train Model and Predict  
neigh = KNeighborsClassifier(n_neighbors = k).fit(X_train,y_train)
neigh

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=4, p=2,
           weights='uniform')

In [584]:
yhat = neigh.predict(X_test)
yhat[0:10]

array([1, 1, 1, 1, 0, 1, 1, 1, 1, 0])

In [585]:
y_test[0:10]

array([1, 1, 1, 1, 1, 1, 0, 1, 1, 1])

In [586]:
from sklearn import metrics
print("Train set Accuracy: ", metrics.accuracy_score(y_train, neigh.predict(X_train)))
print("Test set Accuracy: ", metrics.accuracy_score(y_test, yhat))

Train set Accuracy:  0.7490909090909091
Test set Accuracy:  0.6376811594202898

<div href="pre-processing">
    <h2>Accuracy is good</h2>
</div>

In [587]:
joincount = 0
for a in range (0, 10):
  if (  y_test[a] == y_train[a] ):
    joincount += 1

jc = ( joincount / (10 + 10 - ( joincount ) ) )

print (jc)

0.5384615384615384

In [588]:
# JCARD IS .538!!!

<div href="pre-processing">
      <h2>JCARD is .538!!!<h2>
</div>